page-dashboard {

    title
    {
        
        width: auto; 
        color: rgb(131, 8, 45);
        font-weight: bolder; 
        font-size: 30px; 
    }
    ion-title
    {
        
        width: auto; 
        color: rgb(131, 8, 45);
        font-weight: bolder; 
        font-size: 30px; 
    }
    ion-button
    {
        
        width: auto; 
        color:rgb(159, 10, 172); 
        font-weight: bold; 
        font-size: 20px;
        background-color: transparent;
    }
    ion-img
    {
        width:50px;
        height:50px;
       }
    
}
