page-child-profile {

    .font
    {
        
        width: auto; 
        //color:rgb(233, 40, 66);
        font-weight: bold; 
        font-size: 20px;
        background-color: transparent;
    }
    .h1
    {
        align-items: center;
    }
}
