page-registration {

    .title{
        font-family: ink free; 
        width: auto; 
        color: rgb(145, 9, 49);
        font-weight: bold; 
        font-size: 30px; 
    }

    .bg-img{
        background-image: url(../assets/imgs/bg1.jpg);
        background-size: cover;
        background-position: right;
    }
}
